# Big databases
data/datasets/bakta
data/datasets/checkm2
data/datasets/eggnog
data/datasets/gtdb
data/datasets/gtdbtk
data/datasets/kraken2
data/datasets/midas
data/datasets/minmer
data/datasets/srahumanscrubber
data/datasets/sylph
