# Big databases
datasets/bakta
datasets/checkm2
datasets/eggnog
datasets/gtdb
datasets/gtdbtk
datasets/kraken2
datasets/midas
datasets/minmer
datasets/nohuman
datasets/sketcher
datasets/srahumanscrubber
datasets/sylph
